anyio==4.6.0
apturl==0.5.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
bitarray==2.9.2
bitstring==4.2.3
bleach==6.1.0
blinker==1.4
brevitas @ git+https://github.com/Xilinx/brevitas.git@84f42259ec869eb151af4cb8a8b23ad925f493db
Brlapi==0.8.3
certifi==2024.8.30
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.3.2
click==8.0.3
clize==5.0.2
colorama==0.4.4
coloredlogs==15.0.1
comm==0.2.2
command-not-found==0.3
contourpy==1.3.0
coverage==7.6.1
cryptography==3.4.8
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.2.18
debugpy==1.8.6
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
dependencies==2.0.1
distro==1.7.0
distro-info==1.1+ubuntu0.2
docutils==0.21.2
exceptiongroup==1.2.2
execnet==2.1.1
executing==2.1.0
fastjsonschema==2.20.0
filelock==3.15.4
finn @ git+https://github.com/Xilinx/finn.git@52c092568de3ac27102205d03335b17f8a66aee5
flatbuffers==24.3.25
fonttools==4.54.1
fqdn==1.5.1
fsspec==2024.6.1
future-annotations==1.0.0
h11==0.14.0
httpcore==1.0.6
httplib2==0.20.2
httpx==0.27.2
humanfriendly==10.0
idna==3.10
importlib-metadata==4.6.4
iniconfig==2.0.0
ipykernel==6.21.2
ipython==8.28.0
ipywidgets==8.1.5
isoduration==20.11.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keyring==23.5.0
kiwisolver==1.4.7
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
louis==3.20.0
macaroonbakery==1.3.1
MarkupSafe==2.0.1
matplotlib==3.7.0
matplotlib-inline==0.1.7
mistune==3.0.2
more-itertools==8.10.0
mpmath==1.3.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
netifaces==0.11.0
netron~=7.9.6
networkx==3.3
notebook==7.2.2
notebook_shim==0.2.4
numpy~=2.1.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.68
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
od==2.0.2
olefile==0.46
onnx~=1.17.0
onnxruntime~=1.19.2
overrides==7.7.0
packaging==24.1
pandas==1.5.3
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pillow~=11.0.0
platformdirs==4.3.6
pluggy==1.5.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
protobuf==3.20.3
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.11.0
pycairo==1.20.1
pycparser==2.22
pycups==2.0.1
Pygments==2.14.0
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==3.1.4
pyRFC3339==1.1
pytest==6.2.5
pytest-cov==4.1.0
pytest-dependency==0.5.1
pytest-html==3.0.0
pytest-html-merger==0.0.8
pytest-metadata==1.7.0
pytest-parallel==0.1.1
pytest-xdist==3.2.0
python-apt==2.4.0+ubuntu3
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-json-logger==2.0.7
pytz==2022.1
PyVerilator @ git+https://github.com/maltanar/pyverilator.git@ce0a08c20cb8c1d1e84181d6f392390f846adbd1
pyxdg==0.27
PyYAML==6.0.2
pyzmq==26.2.0
qonnx @ git+https://github.com/fastmachinelearning/qonnx.git@2281a777d84aa5cbd7469085c2e534fb4a03ccf9
qtconsole==5.6.0
QtPy==2.4.1
referencing==0.35.1
reportlab==3.6.8
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.20.0
scikit-learn==1.2.1
scipy==1.14.1
SecretStorage==3.3.1
Send2Trash==1.8.3
setproctitle==1.3.3
setuptools-scm==8.1.0
sigtools==4.0.1
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
stack-data==0.6.3
sympy==1.13.2
systemd-python==234
tblib==3.0.0
tclwrapper==0.0.1
terminado==0.18.1
threadpoolctl==3.5.0
tinycss2==1.3.0
tokenize-rt==4.2.1
toml==0.10.2
tomli==2.0.2
toposort==1.10
-f https://download.pytorch.org/whl/cu116
torch==1.13.1+cu116
-f https://download.pytorch.org/whl/cu116
torchaudio==0.13.1+cu116
-f https://download.pytorch.org/whl/cu116
torchvision==0.14.1+cu116
tornado==6.4.1
tqdm==4.64.1
traitlets==5.14.3
triton==2.1.0
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unfoldNd==0.2.2
uri-template==1.3.0
urllib3==2.2.3
wadllib==1.3.6
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.13
xdg==5
xkit==0.0.0
zipp==1.0.0

Flask==3.0.3
Flask-Cors==5.0.0
finn~=0.0.0
setuptools~=68.2.0
wheel~=0.41.2
brevitas~=0.10.0
qonnx~=0.3.0.post1.dev131+g2281a77
redis~=5.2.1
celery~=5.4.0