{% extends "layout.html" %}

{% block content %}
<div class="alert alert-info">
    <h2>Camera Interface</h2>

    <div id="CameraOptions" class="form-group" style="display: block;">
            <label for="CameraOptions">Choose a Camera Input:</label>
            <select name="dataset" class="form-control">
                <option value="Other">Other</option>
                <option value="Webcam">Webcam</option>
            </select>
    </div>

    <form action="{{ url_for('step9') }}" method="POST">
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
</div>
{% endblock %}