{% extends "layout.html" %}

{% block content %}
<div class="alert alert-info">
    <h2>Pretrained Model Options</h2>

     <!-- Input 3: Upload pth file for pre-trained model -->
        <div id="pretrainedOptions" class="form-group" style="display: block;">
            <label for="pth_file">Upload your pth file (only accepts pth files):</label>
            <input type="file" name="pth_file" accept=".pth" class="form-control">
        </div>
</div>

<form action="{{ url_for('step4') }}" method="POST">
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
    <a href="{{ url_for('step1') }}" class="btn btn-secondary">Previous</a>

{% endblock %}