{% extends "layout.html" %}

{% block content %}
<div class="alert alert-info">
    <h2>Testing</h2>

    <!-- Verify Accuracy -->
    <div id="verify_options" class="form-group" style="display: block;">
        <label for="verify_options">Do you want to verify your pre and post accuracy?</label><br>
        <input type="radio" name="verify_accuracy" value="Yes" onclick="showTestingOptions('Yes')"> Yes<br>
        <input type="radio" name="verify_accuracy" value="No" onclick="showTestingOptions('No')"> No
    </div>

    <!-- Div to display accuracy -->
    <div id="yes_training" class="alert alert-info" style="display: none;">Accuracy: </div>

    <div id="no_training" class="alert alert-info" style="display: none;">Please move onto the next step. </div>

    <form action="{{ url_for('step8') }}" method="POST">
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
    <a href="{{ url_for('step6') }}" class="btn btn-secondary">Previous</a>
</div>

<script>
    function showTestingOptions(input) {
        // Reset the yes_training div visibility
        document.getElementById('yes_training').style.display = 'none';

        if (input === "Yes") {
            // Show the accuracy div
            document.getElementById('yes_training').style.display = 'block';
            document.getElementById('no_training').style.display = 'none';

            // Call the random number generation function to display accuracy
            generateRandomNumber();
        }
        else if (input === "No") {
           document.getElementById('no_training').style.display = 'block';
        }
    }

    // Function to generate and display a random number
    function generateRandomNumber() {
        // Generate a random number between 0 and 100
        var randomNumber = Math.floor(Math.random() * 101);

        // Display the random number in the 'yes_training' div
        document.getElementById('yes_training').innerText = 'Your Accuracy is: ' + randomNumber + '%';
    }
</script>



{% endblock %}